@import '../../../stylesheets/variables';

.place-details-amenities {
  .title {
    margin-bottom: 1.9rem;
  }
  .amenities {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 0.7rem;

    .amenity {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-size: 0.9rem;
      justify-content: center;
      height: 170px;
      width: 170px;
      border-radius: 4px;
      background: rgb(247, 247, 247);
      align-items: center;

      .amenity-icon {
        color: $main-user;
        font-size: 4.5rem;
      }
    }
  }
  .show-all {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    color: $main-user;
    font-weight: 500;
  }
}
