@import '../../../stylesheets/variables';

.choose-location {
  h4 {
    font-size: 1.6rem;
    margin-bottom: 2.5rem;
  }
  .review-label {
    font-weight: 500;
    margin-bottom: 0.9rem;
  }
  .review-input {
    font-size: 0.95rem;
    border-color: rgb(230, 230, 230);
  }
  .review-input:focus {
    box-shadow: rgba($main-host, 0.5) 0px 0px 0px 1px;
  }
  .review-input::placeholder {
    font-size: 0.95rem;
    color: rgba(grey, 0.6);
  }
  .text-input {
    height: 3rem;
  }
  .location .map-container {
    height: 400px;

    .popup-text {
      font-size: 1rem;
    }
    .current-pos {
      position: relative;
      font-family: 'Roboto', sans-serif;
      z-index: 9000;
      top: 0.8rem;
      left: calc(100% - 11.5rem);
      font-weight: 500;
      font-size: 1rem;
      border: 0px;
      background: white;
      outline: none;
      border-radius: 3px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
      padding: 0.4rem 0.9rem;
    }
  }
}
