@import '../styles.scss';
@import '../../../stylesheets//variables';

.narbar {
  @include displayFlex(space-between);
  position: absolute;
  z-index: 2;
  width: 100%;
  background-color: transparent;
  .left {
    @include displayFlex(initial, center);
    width: 100%;
    max-width: 650px;
    padding-left: 20px;
    .logo {
      img {
        max-width: 137px;
      }
    }
  }
  .right {
    @include displayFlex(space-between, center);
    width: 100%;
    padding-right: 20px;
    max-width: 600px;
    .menu-nav {
      @include displayFlex(space-around, initial);
      max-width: 425px;
      width: 100%;
      a {
        @include a(white, 400);
        padding: 30px;
      }
    }
    .sign-in-up-btn {
      @include displayFlex(initial, center);
      .sign-in {
        padding: 5px;
        font-weight: 400;
        color: white;
        font-size: 15px;
      }
      .sign-up {
        padding: 3px;
        background-color: $main-user;
        border-radius: 5px;
        @include text(500);
      }
      a:hover {
        text-decoration: none;
      }
    }
  }
}

.scrolled {
  @extend .narbar;
  position: fixed;
  z-index: 1040;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
  transition: all 0.3s ease-out 0s;
  .left {
    .search {
      width: 100%;
      margin-left: 50px;
      border-radius: 4px;
      border: 1px solid rgb(235, 235, 235);
      background-color: rgb(247, 247, 247);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      transition: all 0.3s ease 0s;
      input {
        height: 50px;
        font-size: 17px;
        font-weight: 700;
        color: rgb(44, 44, 44);
        max-width: 420px;
        width: 100%;
        padding-left: 15px;
        outline: none;
        border: none;
        background-color: rgb(247, 247, 247);
      }
      ::placeholder {
        color: rgba(0, 0, 0, 0.65);
      }
    }
    .search:hover {
      border-color: rgb(0, 132, 137);
      box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    }
    :focus {
      border-right-width: 1px !important;
      outline: 0;
    }
  }
  .right {
    .menu-nav {
      a {
        @include a(black, 400);
      }
      a:hover {
        color: $main-user;
      }
      .current {
        border-bottom: 3px solid $main-user;
      }
    }
    .sign-in-up-btn {
      .sign-in {
        color: black;
      }
      .sign-in:hover {
        color: $main-user;
      }
    }
  }
}
