@import '../../Home/styles.scss';
@import '../../../stylesheets/variables';
.top-hotel {
  padding: 20px;
  .header {
    @include displayFlex(space-between, center);
    a {
      @include a($main-user);
    }
  }
  .list-hotel {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
    .hotel {
      position: relative;
      .react-multi-carousel-list {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
      }
      .react-multi-carousel-item {
        width: 225px !important;
      }
      .react-multi-carousel-dot-list {
        background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.25) 100%);
        transition: bottom 0.3s ease 0s;
      }
      .react-multiple-carousel__arrow--left {
        background: linear-gradient(
          to left,
          transparent 0%,
          rgba(0, 0, 0, 0.25) 100%
        );
        height: 100%;
        width: 70px;
        position: absolute;
        left: 0%;
        border-radius: 0px !important;
      }
      .react-multiple-carousel__arrow--left:focus {
        outline: none;
      }
      .react-multiple-carousel__arrow--right {
        background: linear-gradient(
          to right,
          transparent 0%,
          rgba(0, 0, 0, 0.25) 100%
        );
        height: 100%;
        width: 70px;
        position: absolute;
        right: 0%;
        border-radius: 0px !important;
        z-index: 1;
      }
      .react-multiple-carousel__arrow--right:focus {
        outline: none;
      }
      .info {
        padding: 15px;
        border-width: 0px 1px 1px;
        border-style: solid;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-color: rgb(230, 230, 230);
        transition: border-color 0.2s ease 0s;
        .address {
          @include text(400, rgb(144, 144, 144), 13px);
        }
        a {
          @include a(black, 600);
          font-size: 13px;
        }
        a:hover {
          color: $main-user;
        }
        .price-status {
          @include displayFlex;
          @include text(400, rgb(44, 44, 44), 12px, 25px);
        }
        .rating {
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          color: rgb(44, 44, 44);
          font-size: 13px;
          .rating-star {
            position: relative;
            color: $main-user;
            font-size: 0.9rem;
          }
        }
        .view-details {
          display: flex;
          align-items: center;
          font-weight: 600;
          color: $main-user;
          font-size: 1rem;
        }
      }
      .bookmark {
        position: absolute;
        top: 1px;
        right: 10px;
        z-index: 9;
        transition: bottom 0.8s ease 0s;

        .heart {
          color: $main-user;
          font-size: 1.2rem;
        }
      }
    }
    .loading {
      margin-right: 10px;
    }
  }
}
