@import '../../Home/styles.scss';
@import '../../../stylesheets/variables';
.top-hotel {
  padding: 50px;
  .header {
    @include displayFlex(space-between, center);
    a {
      @include a($main-user);
    }
  }
  .list-hotel {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 25px;
    .hotel {
      width: 225px;
      img {
        @include img(100%, 170px);
      }
      li {
        width: 225px;
      }
      .info {
        padding: 15px;
        border-width: 0px 1px 1px;
        border-style: solid;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-color: rgb(230, 230, 230);
        transition: border-color 0.2s ease 0s;
        .address {
          @include text(400, rgb(144, 144, 144), 13px);
        }
        a {
          @include a(black, 600);
          font-size: 18px;
        }
        a:hover {
          color: $main-user;
        }
        .price-status {
          @include displayFlex;
          @include text(400, rgb(44, 44, 44), 13px, 25px);
        }
        .rating {
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          color: rgb(44, 44, 44);
          font-size: 13px;
        }
      }
    }
  }
}
