@import '../../stylesheets/variables';

// Declare function
@mixin btn($color) {
  background-color: $color;
  border-color: $color;
  text-align: center;
  color: white;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
}

@mixin title($color, $size, $height, $weight) {
  color: $color;
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin a($color) {
  outline: none;
  color: $color;
  text-decoration: none;
}

// Custom toggle button
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  min-width: 47px;
  height: 21px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $main-user;
}

input:focus + .slider {
  box-shadow: 0 0 1px $main-user;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dropdown-menu {
  z-index: 2000 !important;
}
